<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="top">
        <div class="top-menu">
            <div class="top-menu-grid-wrapper">
                <a href="<%= aBtn_index %>" class="btn">
                    <div class="top-menu-btn-holder top-menu-grid-wrapper-item">
                        <img class="btn_icon" src="https://cdn-icons-png.flaticon.com/512/1946/1946488.png">
                    </div>
                </a>
    
                <a href="<%= aBtn_videos %>" class="btn">
                    <div class="top-menu-btn-holder top-menu-grid-wrapper-item">
                        <img class="btn_icon" src="https://cdn-icons-png.flaticon.com/512/2791/2791441.png">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="middle"></div>
    <div class="bottom"></div>
</body>
</html>